*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background: linear-gradient(135deg, #004D98 0%, #000000 50%, #A50044 100%);
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Adicionando estrelas no fundo para lembrar a logo da Champions */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  opacity: 0.1;
  z-index: -1;
}
